//
//  Production.xcconfig
//  MVVMRxSwiftAdvance
//
//  Created by Nguyễn Đức Tân on 31/07/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Common.xcconfig"

BUNDLE_DISPLAY_NAME = $(BASE_BUNDLE_DISPLAY_NAME)
PRODUCT_NAME = $(BASE_PRODUCT_NAME)
PRODUCT_MODULE_NAME = $(BAEE_PRODUCT_MODULE_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_PRODUCT_BUNDLE_IDENTIFIER)
ASSETCATALOG_COMPILER_APPICON_NAME = $(BASE_ASSETCATALOG_COMPILER_APPICON_NAME)
