<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>UIMainStoryboardFile</key>
        <string>Main</string>
        <key>CFBundleDisplayName</key>
        <string>$(BUNDLE_DISPLAY_NAME)</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>$(PRODUCT_NAME)</string>
        <key>CFBundlePackageType</key>
        <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
        <key>CFBundleShortVersionString</key>
        <string>$(MARKETING_VERSION)</string>
        <key>CFBundleVersion</key>
        <string>$(CURRENT_PROJECT_VERSION)</string>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>itms-apps</string>
        </array>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <false/>
            <key>NSExceptionDomains</key>
            <dict>
                <key>aoki-members-stgv3.appli-review.me</key>
                <dict>
                    <key>NSExceptionAllowsInsecureHTTPLoads</key>
                    <true/>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                </dict>
            </dict>
        </dict>
        <key>NSCameraUsageDescription</key>
        <string>$(PRIVACY_CAMERA_USAGE)</string>
        <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
        <string>$(PRIVACY_LOCATION_ALWAYS_AND_WHEN_IN_USE)</string>
        <key>NSLocationAlwaysUsageDescription</key>
        <string>$(PRIVACY_LOCATION_ALWAYS)</string>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>$(PRIVACY_LOCATION_WHEN_IN_USE)</string>
        <key>NSPhotoLibraryAddUsageDescription</key>
        <string>$(PRIVACY_LIBRARY_ADD_USAGE_DESCRIPTION)</string>
        <key>UIAppFonts</key>
        <array>
            <string>Roboto-Bold.ttf</string>
        </array>
        <key>UIApplicationSupportsIndirectInputEvents</key>
        <true/>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
            <string>armv7</string>
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationPortraitUpsideDown</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UIUserInterfaceStyle</key>
        <string>Light</string>
    </dict>
</plist>
